/* ==========================================================================
   H-SC 3,000 Strong Campaign Site
   ========================================================================== */
/* ==========================================================================
   Global
   ========================================================================== */
body {
    background-color: #e5c89e;
}
footer {
    border-top: 10px solid #d6d6d6;
    margin-top: 20px;
    background: #660000;
}
img {
    max-width: 100%;
}
hr {
    border: 0;
    height: 1px;
    background: #b0956d;
    background-image: -webkit-linear-gradient(left, #ccc, #b0956d, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #b0956d, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #b0956d, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #b0956d, #ccc);
}
/* ==========================================================================
   Header
   ========================================================================== */
.navbar {
    border-bottom: 20px solid #d6d6d6;
    background: #660000;
    height: 10.2em;
    width: 100%;
}
.navbar-inner {
    border-bottom: 20px solid #d6d6d6;
    background: #660000;
    height: 10.2em;
}
.navbar .nav>li>a {
float: none;
padding: 10px 15px 10px;
color: #fff;
text-decoration: none;
text-shadow: 0 1px 0 #4D0000;
}
.navbar .nav>li {
    margin-top: 3em;
}
.navbar .nav>li>a:hover {
color: #fff;
text-decoration: underline;
}
.navbar .btn-navbar {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background: #660000; /* Old browsers */
    background: -moz-linear-gradient(top,  #660000 0%, #4d0000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#660000), color-stop(100%,#4d0000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #660000 0%,#4d0000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #660000 0%,#4d0000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #660000 0%,#4d0000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #660000 0%,#4d0000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#660000', endColorstr='#4d0000',GradientType=0 ); /* IE6-9 */

-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.1),0 1px 0 rgba(255,255,255,0.075);
}
/* ==========================================================================
   Body
   ========================================================================== */
.topMargin20px {
      margin-top: 20px;
}
.topMargin90px {
      margin-top: 90px;
}
.redText {
    color: #C22D3E;
}
/*Make the video responsive*/
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* ==========================================================================
   Footer
   ========================================================================== */
   footer p {
    padding-top: 5px;
    color: #ffffff;
   }
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
        font-weight: normal;
    }
    .nav-collapse .nav > li > a:hover,
    .nav-collapse .nav > li > a:focus,
    .nav-collapse .dropdown-menu a:hover,
    .nav-collapse .dropdown-menu a:focus {
        background-color: #4d0000;
    }
    .collapse.in {
        background-color: #660000;
        border-bottom: 20px solid #d6d6d6;
    }
    .topMargin90px {
        margin-top: 30px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    /*Remove extranious padding so our header extends across*/
    body {
        padding: 0;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin: 0;
    }
    .nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {
        font-weight: normal;
    }
    .nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a:hover {
        font-weight: normal;
    }
    /*But we want the content to not touch the edges*/
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .topMargin90px {
        margin-top: 30px;
    }
    .nav-collapse .nav > li > a:hover,
    .nav-collapse .nav > li > a:focus,
    .nav-collapse .dropdown-menu a:hover,
    .nav-collapse .dropdown-menu a:focus {
        background-color: #4d0000;
    }
    .collapse.in {
        background-color: #660000;
        border-bottom: 20px solid #d6d6d6;
    }
}
/* Landscape phone to portrait tablet */
@media (max-width: 620px) {
    /*Remove extranious padding so our header extends across*/
    body {
        padding: 0;
    }
    /*But we want the content to not touch the edges*/
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin: 0;
    }
    .topMargin90px {
        margin-top: 0px;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
        margin: 0;
    }
}