/* ==========================================================================
   H-SC 3,000 Strong Campaign Site
   ========================================================================== */
/* ==========================================================================
   Global
   ========================================================================== */
body {
    background-color: #e5c89e;
}
h3 {
    color: #C22D3E;
}
footer {
    border-top: 10px solid #d6d6d6;
    margin-top: 20px;
    background: #660000;
}
img {
    max-width: 100%;
}
hr {
    border: 0;
    height: 1px;
    background: #b0956d;
    background-image: -webkit-linear-gradient(left, #ccc, #b0956d, #ccc); 
    background-image: -moz-linear-gradient(left, #ccc, #b0956d, #ccc); 
    background-image: -ms-linear-gradient(left, #ccc, #b0956d, #ccc); 
    background-image: -o-linear-gradient(left, #ccc, #b0956d, #ccc); 
}
/* ==========================================================================
   Header
   ========================================================================== */
.header-container {
    border-bottom: 20px solid #d6d6d6;
    background: #660000;
    height: 10.2em;
}
.title {
    color: white;
}
#topNav {
    margin-top: 0.6em;
}
#topNav a {
    color: #fff;
    font-size: .45em;
    font-weight: normal;
    display: inline-block;
}
#topNav li+li a{
    border-left: 1px solid #fff;
    padding-left: 1em; 
}
/* ==========================================================================
   Body
   ========================================================================== */
.topMargin20px {
      margin-top: 20px;
}
.topMargin90px {
      margin-top: 90px;
}
.addBorderAroundObject {
    border: 1px solid #7b641b;
    border-radius: 5px;
    padding: 15px;
}
.addBorderAroundObject h3.header {
    margin: -15px -15px 15px -15px;
    padding: 15px 15px 10px;
    background: #bc0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #bc0000 0%, #8f0222 44%, #660000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc0000), color-stop(44%,#8f0222), color-stop(100%,#660000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bc0000 0%,#8f0222 44%,#660000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bc0000 0%,#8f0222 44%,#660000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bc0000 0%,#8f0222 44%,#660000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #bc0000 0%,#8f0222 44%,#660000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0000', endColorstr='#660000',GradientType=0 ); /* IE6-9 */
    color: white;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.addBorderAroundObject h4.header {
    margin: -15px -15px 15px -15px;
    padding: 15px 15px 10px;
    background: #bc0000; /* Old browsers */
    background: -moz-linear-gradient(top,  #bc0000 0%, #8f0222 44%, #660000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bc0000), color-stop(44%,#8f0222), color-stop(100%,#660000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bc0000 0%,#8f0222 44%,#660000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bc0000 0%,#8f0222 44%,#660000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bc0000 0%,#8f0222 44%,#660000 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #bc0000 0%,#8f0222 44%,#660000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bc0000', endColorstr='#660000',GradientType=0 ); /* IE6-9 */
    color: white;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
/* ==========================================================================
   Footer
   ========================================================================== */
   footer p {
    padding-top: 5px;
    color: #ffffff;
   }
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 767px) {
/*Remove extranious padding so our header extends across*/
body {
    padding: 0;
}
/*But we want the content to not touch the edges*/
.container {
    padding-left: 20px;
    padding-right: 20px;
}
.addBorderAroundObject {
    border: 1px solid #d9d4c2;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
}